@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");
 
ui|flexbox.statustext,
ui|box.statustext {
	background-color: Window;	
	color: $(color:windowtext);
	padding: 9px;
}