@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|radio ui|labelbody { /* radiobuttons! */
	height: 18px;
	padding-left: 18px;
}
ui|radio ui|datalabeltext {
	padding-top: 3px;
}

ui|tabbox.boxed ui|labelbox.fieldgrouplabel {
	left: -1px;
	right: -1px;
}

ui|fieldgroup {
	border-left:  2px groove #FFF;
	border-right:  2px groove #FFF;
	border-bottom:  2px groove #FFF;
	border-radius: 0 0 5px 5px;
}

ui|fieldgroup.nolabel {
	border:  2px groove #FFF;
	border-radius: 5px;
}


ui|labelbox.fieldgrouplabel ui|labelbody:before {
	content:"";
	display: block;
	height: 16px;
	width: 12px;
	float: left;
	border-top:  2px groove #FFF;
	border-left:  2px groove #FFF;
	border-radius: 5px 0 0 0;
	margin-top: 7px;
}

ui|labelbox.fieldgrouplabel > div {
	border-top:  2px groove #FFF;
	border-right:  2px groove #FFF;
	border-radius: 0 5px 0 0;
	margin-top: 7px;
	height: 16px;
	overflow: hidden;
}


ui|tabbox.boxed ui|fieldgroup {
	border-left:  1px solid #B5B5B5;
	border-right:  1px solid #B5B5B5;
	border-bottom:  1px solid #B5B5B5;
}

ui|tabbox.boxed ui|labelbox.fieldgrouplabel ui|labelbody:before {
	border-top:  1px solid #B5B5B5;
	border-left:  1px solid #B5B5B5;
}

ui|tabbox.boxed ui|labelbox.fieldgrouplabel > div {
	border-top:  1px solid #B5B5B5;
	border-right:  1px solid #B5B5B5;
}