@namespace ui url("http://www.w3.org/1999/xhtml");

/* HOVER */
ui|toolbarbutton {
	border: 1px solid transparent;
}

ui|toolbarbutton.hover {
	border: 1px solid #9398A5;
	border-radius: 4px;
	box-shadow: inset 0px 0px 0px 1px #F3F3F3;
}

/* ACTIVE */

ui|toolbarbutton.active {
	border: 1px solid #9398A5;
	border-radius: 4px;
	box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.75);
}