@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|fieldsbutton {
	display: block;
	padding: 2px;
}
ui|fieldsbutton.focused {
	padding: 1px;
	border: 1px solid $(color:threedshadow);
	#region osx
		border-color: $(color:highlight);
	#endregion
}
ui|fieldsbutton ui|clickbutton {
	float: none;
	margin: 0;
}
ui|fieldsbutton ui|clickbutton ui|labelbox {
	padding: 3px 9px 5px;
}
