@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|functioneditor {
	border-bottom: 1px solid $(color:threedshadow);
}
ui|dialogtoolbar {
	border-top: 1px solid $(color:threedhighlight) !important;
}

#maintabbox ui|tabpanel {
	min-height: 397px;
}

ui|fields {
	overflow: hidden;
}