<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    
<%@ Page Language="C#" %>

	<head>
		<title>Non Framework!</title>
	</head>
	<body>
		<form>
			<fieldset>
				<label>Hello</label>
				<input type="text"/>
			</fieldset>
			<fieldset>
				<label>Hello</label>
				<textarea></textarea>
			</fieldset>
			<fieldset>
				<label>Hello</label>
				<select>
					<option>Hey</option>
					<option>Ho</option>
					<option>Hey</option>
					<option>Ho</option>
				</select>
			</fieldset>
		</form>
	</body>
</html>