<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://www.w3.org/1999/xhtml" xmlns:control="http://www.composite.net/ns/uicontrol">
	<control:httpheaders runat="server"/>
	<head>
		<title></title>
		<control:styleloader runat="server"/>
		<control:scriptloader type="sub" runat="server"/>
	</head>
	<body>
		<form>
			<ui:page>
					
					<ui:toolbar>
						<ui:toolbarbody>
							<ui:toolbargroup>
								<ui:clickbutton label="Fit!!!" oncommand="this.dispatchAction(Binding.ACTION_UPDATED)" style="margin: 0"/>
							</ui:toolbargroup>
						</ui:toolbarbody>
					</ui:toolbar>
					
					<div style="padding: 10px;">
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content</div>
						<div>Content LAST!</div>
					</div>
			
			</ui:page>
		</form>
	</body>
</html>