@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

/* see "toolbars.css" for styles shared with toolbarbutton */

/** NOTICE SHARED LAYOUT! */
ui|toolbarbutton,
ui|clickbutton,
ui|radiobutton,
ui|checkbutton,
ui|toolbarlabel {
	display: block;
	position: relative;
	float: left;
	margin-right: 2px;
	overflow: hidden !important; /* contain added stuff */
}
ui|clickbutton {
	padding: 0;
	
}

ui|clickbutton ui|labelbox {
	float: none;
	overflow: hidden;
	padding: 6px 9px 7px;
}

ui|toolbar ui|clickbutton ui|labelbox {
	padding: 3px 5px;
}

ui|toolbar ui|selector ui|clickbutton ui|labelbox{
	padding: 3px 24px 3px 3px;
}

ui|checkbutton {
    margin-top: 2px;
}