@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|datacollectorset,
ui|datacollector {
	position: absolute;
	visibility: hidden;
}
ui|fields {
	display: none; /* adjusted by FieldsBinding.js */
	width: 408px; /* table.fieldgroupmatrix makes up 4px on both sides! */
	position: relative; /* mostly because it fixes an ie bug where fieldgroup captions would hang on tabpanel changes */
	/* padding-bottom: 9px; fixes a dialog resize problem - moved to functioncalleditor.aspx where the problem is spotted */
}

/* FIELDGROUP ......................................... */

ui|fieldgroup {
	display: block;
	overflow: visible;
	margin-top: 34px !important;
	padding-top: 7px;
	position: relative;
	padding: 18px 2px 18px 2px;

}
ui|fieldgroup.first {
	margin-top: 10px !important;
}

#region vista
	ui|dialogpage ui|fieldgroup,
	ui|wizardpage ui|fieldgroup {
		margin-bottom: 5px; /* strange flex bug */
	}
#endregion

ui|labelbox.fieldgrouplabel {
	top: -10px;
	left: -2px;
	right: -2px;
	position:absolute;
	max-width: 200%;
}


ui|labelbox.fieldgrouplabel ui|labeltext {
	padding-right: 5px;
	#region default
			color: $(color:activecaption);
	#endregion
}

ui|labelbox.fieldgrouplabel ui|labelbody {
	float:left;
}



/* FIELDS ......................................... */

ui|field {
	display: block;
	margin: 0 16px 0 10px;
	padding-bottom: 0;
}
ui|fielddesc {
	display: block;
	float: left;
	width: 150px;
	padding: 8px 0 0 5px;
	white-space: normal;
	-vendor-user-select: none;
}
ui|fielddata {
	display: block;
	float: right;
	width: 220px;
	position: relative; /* because of strange fieldhelp setup for exploder */
}
ui|fielddata input,
ui|fielddata select,
ui|fielddata textarea {
	width: 214px;
	padding: 0;
	margin: 0;
	border: none;
	display: block;
}
ui|fielddata input {
	padding: 5px 0 0 7px;
	#moz padding-bottom: 4px;
	#ie height: 24px;
	#ie position: relative;
	#ie top: -1px;
}

ui|datainput {
	display: block;	
}
ui|datainput ui|box,
ui|datainputselector ui|box,
ui|datainputdialog ui|box,
ui|datainputbutton ui|box,
ui|urlinputdialog ui|box,
ui|textbox ui|box,
ui|editortextbox ui|box,
ui|multiselector ui|box {
	border: 1px solid #7F9DB9;
	background-color: white;
	height: 26px;
	overflow: hidden;
}
ui|datainput.disabled ui|box,
ui|datainput.readonly ui|box,
ui|datainputselector.disabled ui|box,
ui|datainputselector.readonly ui|box,
ui|datainputdialog.disabled ui|box,
ui|datainputbutton.disabled ui|box,
ui|urlinputdialog.disabled ui|box,
ui|datainputdialog.readonly ui|box,
ui|datainputbutton.readonly ui|box,
ui|urlinputdialog.readonly ui|box,
ui|textbox.disabled ui|box,
ui|textbox.readonly ui|box {
	border-color: $(color:threedshadow);
	background-color: $(color:threedface);
	#alphabackdrop: url("${root}/images/ui/lighten.png");
}
ui|textbox ui|box,
ui|editortextbox ui|box {
	height: 104px;
}
ui|datainputselector.invalid ui|box,
ui|datainputdialog.invalid ui|box,
ui|postbackdialog.invalid ui|labelbox,
ui|datainputbutton.invalid ui|box,
ui|urlinputdialog.invalid ui|box,
ui|datainput.invalid ui|box,
ui|textbox.invalid ui|box,
ui|editortextbox.invalid ui|box {
	border-color: #A40000;
}
ui|datainputselector input,
ui|datainputdialog input,
ui|datainputbutton input,
ui|urlinputdialog input,
ui|datainput input,
ui|textbox input,
ui|editortextbox input {
	border: none;
}
ui|datainputselector.readonly input,
ui|datainputdialog.readonly input,
ui|datainputbutton.readonly input,
ui|urlinputdialog.readonly input,
ui|datainput.readonly input,
ui|textbox.readonly textarea,
ui|editortextbox.readonly textarea {
	cursor: default;
	background-color: $(color:threedface);
	#alphabackdrop: url("${root}/images/ui/lighten.png");
}
ui|datainputselector.isdisabled input,
ui|datainputdialog.isdisabled input,
ui|datainputbutton.isdisabled input,
ui|urlinputdialog.isdisabled input,
ui|datainput.isdisabled input,
ui|textbox.isdisabled textarea,
ui|editortextbox.isdisabled textarea {
	cursor: default;
	background-color: $(color:threedface);
	-vendor-user-select: none;
	-vendor-user-focus: none;
	#alphabackdrop: url("${root}/images/ui/lighten.png");
}
ui|datainputselector.isdisabled ui|box,
ui|datainputdialog.isdisabled ui|box,
ui|datainputbutton.isdisabled ui|box,
ui|urlinputdialog.isdisabled ui|box,
ui|datainput.isdisabled ui|box,
ui|textbox.isdisabled ui|box,
ui|editortextbox.isdisabled ui|box,
ui|multiselector.isdisabled ui|box {
	background-color: $(color:threedface);
	border-color: $(color:threedshadow);
}
ui|fielddata input.warning,
ui|fielddata textarea.warning {
	font-weight: bold;
	color: #A40000;
}
ui|field.nodesc ui|fielddata {
	width: auto;
	float: none;
}

/* COMMON ......................................... */

ui|datainput,
ui|datainputselector,
ui|datainputdialog,
ui|datainputbutton,
ui|urlinputdialog,
ui|textbox,
ui|selector,
ui|simpleselector,
ui|multiselector,
ui|datadialog,
ui|postbackdialog,
ui|htmldatadialog,
ui|editortextbox {
	padding: 2px;
}

/* SELECTORS ......................................... */

ui|selector {
	display: block;
	overflow: hidden !important; /* relevant for editor selectors */
}
ui|toolbar ui|selector { /* TODO: handle focus outline here somehow */
	padding: 0;	
}
ui|toolbar ui|selector ui|clickbutton table.matrix td.c {
	padding-top: 0;
	padding-bottom: 0;
}
ui|selection,
ui|selector input {
	display: none;	
}
ui|selector ui|clickbutton{
	float: none;
	margin: 0;
}
ui|selector ui|clickbutton ui|labelbox {
	padding: 3px 20px 5px 5px;
}


ui|fields ui|field.fieldhelp ui|selector ui|clickbutton ui|labelbox {
	overflow: hidden;
	float:none;
}

ui|selector img.selectorindicatorimage {
	position: absolute;
	z-index: 1;
	right: 7px;
	top: 4px;
	-vendor-user-select: none;
}
ui|fields ui|selector img.selectorindicatorimage {
	top: 5px;
}

/* SIMPLESELECTORS ............................................ */

ui|simpleselector {
	display: block;
	position: relative;
	overflow: visible;
	#region ie 
		margin-top: 3px;
	#endregion
}
ui|simpleselector select {
	#moz padding: 4px;
	display: block;
	width: 216px;
	border: 1px solid #7F9DB9;
	background-color: white;
}
ui|simpleselector select:focus,
ui|simpleselector select:focus * {
	outline: none;
}
ui|simpleselector.invalid {
	padding: 1px;
	border: 1px solid #A40000 !important;
}

/* MULTISELECTORS ............................................. */

ui|multiselector {
	display: block;
}
ui|multiselector ui|box {
	width: 216px;
	-vendor-user-select: none;
	padding: 5px 0 5px 0;
	overflow: auto;
	#ie height: 88px;
	#moz height: 84px;
}
ui|field.fieldhelp ui|multiselector ui|box {
	width: 186px;	
} 
ui|multiselector ui|box div {
	padding: 1px 5px 2px 7px;
	width: 100%;
}
ui|multiselector ui|box div.selected {
	background-color: $(color:highlight);
	color: $(color:highlighttext);
}
ui|multiselector ui|datadialog,
ui|multiselector ui|postbackdialog {
	padding: 2px 0 0 0;
}
ui|multiselector input {
	display: none;	
}

/* DATAINPUTSELECTORS ......................................... */
ui|datainputselector,
ui|datainputdialog,
ui|datainputbutton,
ui|urlinputdialog {
	display: block;
	position: relative;
}
ui|datainputselector ui|toolbarbutton,
ui|datainputdialog ui|toolbarbutton,
ui|datainputbutton ui|toolbarbutton,
ui|urlinputdialog ui|toolbarbutton {
	margin-right: 0;
	position: absolute;
	right: 3px;
	top: 3px;
}
#region moz
	ui|datainputselector.focused ui|toolbarbutton,
	ui|datainputdialog.focused ui|toolbarbutton,
	ui|datainputbutton.focused ui|toolbarbutton,
	ui|urlinputdialog.focused ui|toolbarbutton {
		right: 2px;
		top: 2px;
	}
#endregion
ui|fielddata ui|datainputselector input,
ui|fielddata ui|datainputdialog input,
ui|fielddata ui|datainputbutton input,
ui|fielddata ui|urlinputdialog input {
	width: 189px;
}
ui|fielddata ui|datainputselector.imagesizenormal input{
	background: transparent none no-repeat 4px 4px;
	padding-left: 24px;
}
ui|field.fieldhelp ui|fielddata {
	position: relative;
	top: -1px; /* why? */
}
ui|field.fieldhelp ui|fielddata ui|datainputselector input,
ui|field.fieldhelp ui|fielddata ui|datainputdialog input ,
ui|field.fieldhelp ui|fielddata ui|datainputbutton input ,
ui|field.fieldhelp ui|fielddata ui|urlinputdialog input {
	width: 159px;
}

/* EXOTIC STUFF ................................... */

ui|nullpostbackdatadialog {
	display: block;	
}

/* TEXTBOX ......................................... */

ui|textbox,
ui|editortextbox {
	display: block;
}
ui|textbox,
ui|editortextbox {			
	height: 108px; /* half width */
	position: relative;
}
ui|textbox textarea,
ui|editortextbox textarea {
	overflow: auto;
	#ie padding: 5px 5px 5px 7px; /* moz applies padding fugt here! */
	position: absolute;
	height: 102px;
	-vendor-tab-size: 4;
}

/* FULLBLOWN EDITORTEXTBOX */

ui|flexbox ui|editortextbox {
	padding: 0;
	border: none;
}
ui|flexbox ui|editortextbox,
ui|flexbox ui|editortextbox textarea {
	width: 100%;
	height: 100%;
}
ui|flexbox ui|editortextbox textarea {
	font-family: "Courier New", monospace;
	font-size: 13px;
	margin: 0;
	border: none;
}
ui|flexbox ui|editortextbox ui|box {
	border: none;
	height: 100%;
	padding: 0;
	margin: 0;
}

/* FIELDHELP ......................................... */
 
ui|fieldhelp { /* strange setup fixes a vanishing glitch in explorer */
	height: 1px;
	width: 222px;
	overflow: visible;
	float: right;
	position: relative;
}
 
ui|field.fieldhelp ui|fielddata {
	margin-right: 30px;
	width: 190px;
}
ui|field.fieldhelp ui|fielddata input,
ui|field.fieldhelp ui|fielddata select,
ui|field.fieldhelp ui|fielddata textarea {
	width: 184px;
}
ui|field.fieldhelp ui|fielddata ui|simpleselector select {
	width: 186px;	
}
ui|clickbutton.fieldhelp { /* width and height needed for explorer vanishing dysfunction */
	margin: 0;
	margin-top: 2px;
	right: 2px;
	position: absolute;
	width: 26px;
	height: 26px;
}
ui|clickbutton.fieldhelp ui|labelbox {
	padding: 4px;
}
ui|popup.fieldhelppopup {
	#moz min-width: 220px;
	#ie width: 220px;
}

/* FOCUS .............................................................. */

ui|fields ui|selector.focused,
ui|fields ui|multiselector.focused,
ui|fields ui|simpleselector.focused,
ui|fields ui|datainput.focused,
ui|fields ui|datainputselector.focused,
ui|fields ui|datainputdialog.focused,
ui|fields ui|datainputbutton.focused,
ui|fields ui|urlinputdialog.focused,
ui|fields ui|datadialog.focused,
ui|fields ui|postbackdialog.focused,
ui|fields ui|htmldatadialog.focused,
ui|fields ui|textbox.focused,
ui|fields ui|editortextbox.focused,
ui|fields ui|radiodatagroup.focused,
ui|fields ui|checkbox.focused {
	padding: 1px;
	border: 1px solid $(color:threedshadow);
	#region osx
		border-color: -moz-mac-focusring;
	#endregion
}


/* RADIO & CHECKBOX .............................................. */

ui|radiodatagroup {	
	display: block;
	margin-bottom: 3px;
	padding: 2px;
	padding-top: 4px;
}
ui|fields ui|radiodatagroup.focused {
	padding-top: 3px;	
}
ui|radio {
	display: block;
	width: 100%;	
}
ui|radio {
	display: block;
	width: 100%;
	padding-bottom: 1px;
	padding-top: 1px;
}
ui|radio.disabled {
	color: $(color:graytext);
}
ui|datalabeltext {
	display: block;
	float: left;
	width: 195px;
	padding-left: 5px;
	padding-top: 2px;
	-vendor-user-select: none; /* See notes in DocumentManager.js */
}
ui|field.fieldhelp ui|datalabeltext {
	width: 163px;
}
ui|checkboxgroup {
	display: block;
	padding-top: 4px;
	padding-bottom: 2px;
	margin-bottom: 3px;
}
ui|checkboxgroup ui|labelbox.invalid {
	margin-bottom: 4px;	
	margin-left: 1px;
	margin-top: 4px;
}
ui|checkboxgroup ui|labelbox.invalid,
ui|checkboxgroup ui|labelbox.invalid * {
	float: none;
}

ui|postbackdialog.invalid ui|labeltext,
ui|checkboxgroup ui|labelbox.invalid ui|labeltext,
ui|selector.invalid ui|clickbutton ui|labeltext {
	font-weight: bold;
	color: #A40000;
}
ui|selector.infobox ui|clickbutton ui|labeltext {
	font-style:italic;
}
ui|checkbox {
	display: block;
	width: 100%;
	padding: 2px;
}
ui|field.fieldhelp ui|datalabeltext {
	width: 163px;
}

/* DATADIALOG ......................................................... */

ui|datadialog,
ui|postbackdialog,
ui|htmldatadialog {
	display: block;
}
ui|datadialog ui|clickbutton,
ui|postbackdialog ui|clickbutton,
ui|htmldatadialog ui|clickbutton {
	float: none;
	margin: 0;
}

ui|datadialog ui|clickbutton ui|labelbox,
ui|postbackdialog ui|clickbutton ui|labelbox,
ui|htmldatadialog ui|clickbutton ui|labelbox {
	 padding: 3px 9px 5px;
}
ui|datadialog input,
ui|postbackdialog input,
ui|htmldatadialog input {
	display: none;
}
img.dialogindicatorimage {
	position: absolute;
	z-index: 1;
	right: 7px;
	top: 5px;
	-vendor-user-select: none;
}

/* FILEPICKER ......................................................... */

ui|filepicker {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
}
ui|filepicker input.real {
	display: block;
	cursor: default !important;
	position: absolute;
	top: 3px;
	left: 0;
	cursor: default;
	opacity: 0;
	transform: translate(-200px, 0) scale(4);
}
ui|filepicker ui|datainput.fake,
ui|filepicker ui|datainput.fake input {
	width: 159px;
	#ie width: 153px;
	float: left;
}
ui|filepicker ui|clickbutton {
	position: relative;
	top: 2px;
	left: 2px;
}

ui|filepicker ui|clickbutton ui|labelbox {
	padding: 4px 5px;
}

/* CALENDAR ........................................................... */

div.calendar {
	border: 1px solid $(color:threedshadow);
	background-color: $(color:threedhighlight);
	position: relative;
	top: -1px;
	#ie width: 99.9%;
}
div.calendar table {
	width: 100%;
	margin: 0 !important;
	border-collapse: collapse;
}
div.calendar td {
	padding-top: 3px;
	padding-bottom: 3px;
	-vendor-user-select: none;
	text-align: center;
	vertical-align: top;
	width: 14.2%;
}
div.calendar td.active {
	cursor: pointer;	
}
div.calendar td.active:hover {
	background-color: $(color:highlight);
	color: $(color:highlighttext);
}
div.calendar td.othermonth {
	color: #bbb;	
}
div.calendar td.selectedday {
	background-color: #ccc;
	margin: 0;
}
div.calendar tr.month td {
	border-bottom: 1px solid $(color:threedshadow);	
}
div.calendar .monthbrowse {
	font-family: "Courier New", monospace;
	cursor: pointer;	
}
div.calendar .monthbrowse:hover {
	color: $(color:highlight);	
}

/* TOOLBARS ........................................................... */

ui|toolbar ui|field {
	margin: 0;
	float: left;
	#ie width: 1px !important;
}
ui|toolbar ui|fielddesc,
ui|toolbar ui|fielddata {
	float: left;
	width: auto;
	#ie width: 1px;
}
ui|toolbar ui|fielddata input,
ui|toolbar ui|fielddata select {
	width: 100px;
}

ui|fields ui|datadialog ui|clickbutton ui|labeltext,
ui|fields ui|postbackdialog ui|clickbutton ui|labeltext,
ui|fields ui|htmldatadialog ui|clickbutton ui|labeltext,
ui|fields ui|datainputdialog ui|clickbutton ui|labeltext,
ui|fields ui|datainputbutton ui|clickbutton ui|labeltext,
ui|fields ui|urlinputdialog ui|clickbutton ui|labeltext,
ui|fields ui|selector ui|clickbutton ui|labeltext {
	overflow: hidden;
	text-overflow: ellipsis;
}