@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

/* SEE ALSO BUTTONS.CSS */

ui|toolbar ui|selector {
	margin-right: 2px;
	float: left;
}
ui|toolbarbutton {
	padding: 3px;
}
ui|toolbarbutton ui|labeltext,
ui|clickbutton ui|labeltext,
ui|toolbarlabel ui|labeltext {
	padding: 1px 4px 3px 1px; /* REFACTOR THIS, SEE VISTA BELOW */
}
ui|toolbar ui|toolbarbutton ui|labeltext,
ui|toolbar ui|clickbutton ui|labeltext {
	padding-bottom: 0;
}
ui|toolbarlabel {
	padding: 4px;
}
#region vista
	ui|toolbar ui|toolbarbutton ui|labeltext,
	ui|toolbar ui|clickbutton ui|labeltext,
	ui|toolbar ui|toolbarlabel ui|labeltext {
		padding-top: 0;
	}
#endregion

ui|toolbarbutton.isdisabled ui|labeltext,
ui|clickbutton.isdisabled ui|labeltext {
	color: $(color:graytext);
}

ui|toolbarbody.alignright ui|toolbarbutton,
ui|toolbarbody.alignright ui|clickbutton {
	margin-right: 0;
	margin-left: 2px;
}
ui|toolbar {
	display: block;
	clear: both;
	border-top: 1px solid $(color:threedhighlight);
	border-bottom: 1px solid $(color:threedshadow);
	background-color: $(color:threedface);
	padding: 1px 3px 1px 3px;
	white-space: nowrap;
}
ui|toolbar.plain {
	border: none;	
}
ui|toolbar.statusbar {
	border-top-color: $(color:threedlightshadow);
	border-bottom: none;
}
ui|toolbarbody {
	display: block;
	float: left;
}
ui|toolbarbody.max {
	/* this is actually scripted by ToolBarBinding */	
}
ui|toolbarbody.alignright {
	float: right;
}
ui|toolbargroup {
	display: block;
	float: left;
	border-right: 1px solid $(color:threedshadow);
	border-left: 1px solid $(color:threedhighlight);
	padding-left: 1px;
}
ui|toolbargroup.max {
	float: none;	
}
ui|toolbargroup.first {
	border-left: none;	
}
ui|toolbargroup.last {
	border-right: none;
}
ui|toolbargroup.alignright {
	float: right;	
}
ui|toolbargroup.defaultcontent {
	width: 1px;
	overflow: hidden;
	margin-right: -1px;
	visibility: hidden;
	border: none;
}

/* combobutton */

ui|toolbarbutton.isdisabled ui|combobox {
	color: $(color:graytext);
}

ui|toolbarbutton.combobutton ui|combobox {
	border-left: 1px solid transparent;
	margin: -4px -4px -4px 0;
	display: block;
	float: left;
	line-height: 22px;
	font-size: 9px;
	padding-left: 5px;
	padding-right: 5px;
	-moz-user-select: none;
	position: relative;
}

ui|toolbarbutton.combobutton table.matrix td{
	overflow: visible;
}

ui|toolbarbutton.hover ui|combobox,
ui|toolbarbutton.active ui|combobox
{
	border-left: 1px solid #A0A0A0;
}