@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|field a {
	display: block;
	float: left;
	padding: 3px 0 2px 0;
	text-align: center;
	width: 22px;
	height: 22px;
	overflow: hidden;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	#moz cursor: pointer;
	#ie cursor: hand;
}
ui|field a:hover {
	background-color: $(color:highlight);
	color: $(color:highlighttext);
}
div#selection {
	padding-top: 12px;
	padding-bottom: 18px;
	font-weight: bold;
}